{% extends "base.html" %}

{% block content %}
<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
    <span class="sr-only">100% Complete</span>
  </div>
</div>
<h1>
    Result of rebound for game {{game.id}}
</h1>

<h2>
    {% if result == 1 %}
    Sucka!  Player 1, you gotta {{game.dare}}
    {% elif result == 0 %}
    Lame.  Nobody has to do anything.  Wanna play again?
    <p><br>
    <a href="{{ url_for('player1_dare_get') }}">Yeah</a>
    </p>
    {% endif %}
</h2>
{% endblock %}